<!DOCTYPE html>
<html>
<head>
	{{>headerlinks}}
	<script src="https://use.fontawesome.com/4c7a69d8f8.js"></script>
	<title>About Page</title>
</head>
<body>
	<header>
		{{>header}}
	</header>

	<section>
		<div class="row mt-3">
			<div class="col-md-6 col-12 text-center">
                <script type="text/javascript">
                    atOptions = {
                        'key' : '055cbbab6616b4c597bea6e5054bdb63',
                        'format' : 'iframe',
                        'height' : 60,
                        'width' : 468,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitablecreativeformat.com/055cbbab6616b4c597bea6e5054bdb63/invoke.js"></scr' + 'ipt>');
                </script>
			</div>
			<div class="col-md-6 col-12 mt-4 mb-4">
				<h1 class="display-4">Safal Patel</h1>
				<h5> Software Developer </h5>
				<!-- <h5>Vesu,Surat</h5> -->

				<hr style="background-color:lightgray;">

				<h5 style="color:gray;">Developing and implementing software applications.</h5>
				<h5 style="color:gray;">Developing software components and unit tests.</h5>
				<h5 style="color:gray;">Implementing new features based on business requirements.</h5>
				<h5 style="color:gray;">Implementing new features based on business requirements.</h5>
				<h5 style="color:gray;">Collaborating with a team of developers and product managers.</h5>
				<h5 style="color:gray;">Developing and maintaining quality software product code.</h5>

				<hr style="background-color: lightgray;">
			</div>
		</div>
        <div class="col-md-6 col-12 text-center">
            <div>
                <script type="text/javascript">
                    atOptions = {
                        'key' : '18c6085657a016deff4bbb06d7bb655f',
                        'format' : 'iframe',
                        'height' : 300,
                        'width' : 160,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitablecreativeformat.com/18c6085657a016deff4bbb06d7bb655f/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
            <div class="col-md-6 col-12 text-center">
                <script type="text/javascript">
                    atOptions = {
                        'key' : 'c31d2cdebc50fdf7157afc9f63d54a36',
                        'format' : 'iframe',
                        'height' : 600,
                        'width' : 160,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitablecreativeformat.com/c31d2cdebc50fdf7157afc9f63d54a36/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
        </div>

	</section>

	<footer>
		{{>footer}}
	</footer>
</body>
</html>
